<div>
    <h1>New product</h1>
    <form id="formProd">
        <input type="text" id="title" placeholder="title">
        <input type="text" id="description" placeholder="description">
        <input type="number" id="price" placeholder="price $ 0.00">
        <input type="text" id="thumbnail" placeholder="image">
        <input type="text" id="code" placeholder="code">
        <input type="number" id="stock" placeholder="stock">
        <input type="text" id="category" placeholder="category">
        <input type="submit" value="Add">
    </form>
</div>
<hr>
<div>
    <h1>Real Time Products List</h1>
    <table>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Borrado</th>
        </tr>
        <tbody id="listaTiempo"></tbody>
     
    </table>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>

