<div class="container">
    <h1>New product</h1>
    <form class="row g-3" id="formProd">       
        <div class="col-md-4 input-group-sm">
            <input class="form-control" type="text" name="title" placeholder="title">
        </div>
        <div class="col-md-4 input-group-sm">
            <input class="form-control" type="text" name="category" placeholder="category">
        </div>
        <div class="col-8 input-group-sm">
            <input class="form-control" rows="3" type="text" name="description" placeholder="description">
        </div>
        <div class="col-5 input-group-sm">
            <input class="form-control" type="text" name="code" placeholder="code">
        </div>
        <div class="col-2 input-group-sm">
            <input class="form-control" type="number" name="price" placeholder="$ 0.00">
        </div>
        <div class="col-1 input-group-sm">
            <input class="form-control" type="number" name="stock" placeholder="stock">
        </div>       
        <div class="col-8 input-group-sm">
            <input class="form-control" type='file' name='thumbnail' multiple/>
        </div>       
        <div >
            <button type="submit" class="btn btn-primary">Add Product</button>
        </div>
    </form>
</div>